*{

}

body{
    background-color: #f382ed;
    font-size: 16px;
    color: rgb(19, 17, 19);
    font-family: sans-serif;
}

header{
    background-color: rgb(240, 110, 240);
    height: 4em;
}

header h1{
    text-align: center;
}

img{
    width: 20%;
    border-radius: 18px;
}

main{
    background-color: rgb(223, 98, 156);
}